<!DOCTYPE html>
<html lang-"en">
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

		<link href="/static/styles.css" rel="stylesheet"/>

		<script src="https://code.jquery.com/jquery-latest.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script src="/static/script.js"></script>

		<title>Bit 'O Gloom</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="row">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Bit 'O Gloom</a>
					</div>
					<div class="dropdown">
						<button class="dropdown-toggle" id="scenariobutton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="scenario">Scenario</span></button>
						<ul id="scenariolist" class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
							{% for i in range(scenarios|length) %}
							<li><option class="dropdown-item" value="{{scenarionums[i]}}">{{scenarionums[i]}}. {{scenarios[i]}}</option></li>
							{% endfor %}
						</ul>
					</div>
					<div class="dropdown">
						<a class="dropdown-toggle" href="#" id="lvlbutton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="lvl">Monster lvl</span></a>
						<ul id="lvllist" class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" value="0" href="#">lvl 0</a></li>
							<li><a class="dropdown-item" value="1" href="#">lvl 1</a></li>
							<li><a class="dropdown-item" value="2" href="#">lvl 2</a></li>
							<li><a class="dropdown-item" value="3" href="#">lvl 3</a></li>
							<li><a class="dropdown-item" value="4" href="#">lvl 4</a></li>
							<li><a class="dropdown-item" value="5" href="#">lvl 5</a></li>
							<li><a class="dropdown-item" value="6" href="#">lvl 6</a></li>
							<li><a class="dropdown-item" value="7" href="#">lvl 7</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="dropdown">
				<input type="button" class="btn btn-primary dropdown-toggle" id="testparent" value="Scenario" type="button" data-toggle="dropdown">
				<ul class="dropdown-menu" id="test">
					<li><a href="#" value="1">Test 1</a></li>
					<li><a href="#" value="2">Test 2</a></li>
					<li><a href="#" value="3">Test 3</a></li>
				</ul>
			</div>
		</nav>
		<div id="monsterblock">
			<div style="position:relative; z-index:1"><img src="{{monsterpic}}"></div>
			<div style="position:relative; top:-20; right:100; z-index:2"><h1>{{monster_name}}</h1></div>
		</div>
	</body>
</html>
